[submodule "hugo-theme-hello-friend-ng"]
	path = hugo-theme-hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hello_friend"]
	path = themes/hello_friend
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
